<form [formGroup]="editeurForm" (ngSubmit)="onEditTimeLine(editeurForm.value)">
  <table>
    <tr>
      <th>
        <input
          placeholder="Entrez le Nom du jeu"
          type="string"
          formControlName="name"
        />
      </th>
      <th>
        <input
          placeholder="Entrez la Categorie"
          type="string"
          formControlName="category"
        />
      </th>
      <th>
        <input
          type="date"
          formControlName="creationDate"
        />
      </th>
      <th>
        <input
          type="date"
          formControlName="updateDate"
        />
      </th>
      <th>
        <button type="submit">ajouter</button>
      </th>
    </tr>
  </table>

  <h2>
    Ajouter de nouvelles cartes à ce jeu
  </h2>

   <table formArrayName="addDynamicCard" *ngFor="let card of editeurForm.get('addDynamicCard')['controls'] ; let i = index;">
     <tr [formGroupName]="i">
       <td>
         <input placeholder="Entrez le nom de la carte" type=string formControlName="name" />
       </td>
       <td>
         <input placeholder="Entrez l'URL de son image" type=string formControlName="imageUrl" />
       </td>
       <td>
         <input placeholder="Entrez sa description: " type=string formControlName="description" />
       </td>
       <td>
        <input placeholder="Entrez la date à trouver: " type=date formControlName="dateToFind" />
      </td>
       <td>
         <button type="button" (click)="addCard()"> ajouter carte </button>
       </td>
       <td>
        <button type="button" (click)="removeCard()"> supprimer carte </button>
      </td>
     </tr>
   </table>
   <button type="button" (click)="onNewCards()"> Affecter les cartes au timeline </button>
</form>
<h2>
  Liste des cartes ajoutées
</h2>
<table>
  <tr>
    <th>
      id
    </th>
    <th>
      Name
    </th>
    <th>
      Date
    </th>
    <th>
      URL
    </th>
    <th>
      Description
    </th>
  </tr>
  <tr *ngFor="let card of this.temporaryCardlist">
    <th>
      {{card.id}}
    </th>
    <th>
      {{card.name}}
    </th>
    <th>
      {{card.dateToFind | date:'shortDate'}}
    </th>
    <th>
      {{card.imageUrl}}
    </th>
    <th>
      {{card.description}}
    </th>
  </tr>
</table>
