<div>
  <button class="button" routerLink="editeur">Créer un TimeLine</button>
</div>

<div>
    <body>
      <div>
        <table>
          <tr>
            <th>id</th>
            <th>
              Nom
            </th>
            <th>
              Categorie
            </th>
            <th>
              Date de création
            </th>
            <th>
              Date de Maj
            </th>
            <th>
              Nombre de carte
            </th>
            <th>
              Editer ?
            </th>
            <th>
              Jouer !
            </th>
            <th>
              Supprimer ?
            </th>
          </tr>
          <tr></tr>
          <tr *ngFor="let game of games | async; let i = index">
            <td>{{ game.id }}</td>
            <td>{{ game.name }}</td>
            <td>{{ game.creationDate }}</td>
            <td>{{ game.updateDate }}</td>
            <td>{{ game.category }}</td>
            <td>{{ game.cardList.length }}</td>
            <td>
              <button class="button" type>Editer</button>
            </td>
            <td>
              <button class="button" [routerLink]="'jeu/' + i">Jouer</button>
            </td>
            <td>
              <button (click)="delete(game.id)">supprimer</button>
            </td>
          </tr>
        </table>
      </div>
    </body>
</div>
