
<div>
  <button class="button"><a routerLink=''>  Revenir à la liste des Timelines  </a></button>

  <form [formGroup]="jeuForm" (ngSubmit)="onReponse()">
    <body>
      <div>
        <h1>
          Carte à deviner
        </h1>
        <input type="number" formControlName="reponse">
        <table>
          <tr>
            <th> id </th>
            <th>
              Nom
            </th>
            <th>
              Categorie
            </th>
            <th>
              Date de création
            </th>
            <th>
              Date de Maj
            </th>
            <th>
              Nombre de carte
            </th>
            <th>
              Editer ?
            </th>
            <th>
              Jouer !
            </th>
            <th>
              Supprimer ?
            </th>
          </tr>
          <tr>
          </tr>
        </table>
      </div>
    </body>
  </form>
</div>
