
 <!--<button type(clic)= "afficheimg()">afficheimf </button>-->

<div>

  <form [formGroup]="jeuForm" (ngSubmit)="onReponse(jeuForm.value)">
    <body>
      <div>
        <input placeholder="Entrez la date" type="string" formControlName="reponse">

        <button type="submit"> Deviner </button>
      </div>
    </body>
  </form>
</div>
<h1>
  Carte à deviner
</h1>
<table>
  <tr>
    <td>
      <img [src]="cheminURL" width="240" height="300" alt="l'image">
    </td>
  </tr>
</table>
<h1>
  Carte(s) trouvée(s)
</h1>



